doctype html
html
  head
    meta(charset="UTF-8")
    title Страница c заявкой
    meta(keywords="")
    meta(description="")
    meta(name="viewport", content="initial-scale=1.0, width=device-width")
    link(rel="shortcut icon", href="/favicon.ico")
  body
    include components/header/header.pug
    include components/content/content.pug
    include components/footer/footer.pug
