include ../resume-list/resume-list.pug
include ../resume-head/resume-head.pug

section.education
  +head('education', './components/education/img/education-icon')
  +list({
    items: [{
      header: {
        level1: 'master degree',
        level2: '// Feb 2011 - Jun 2014',
        level3: 'university name'
      },
      content: "Lorem ipsum dolor sit amet, consectetuer adipiscing elit. "
        + "Aenean commodo ligula eget dolor. Aenean massa. "
        + "Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. "
        + "Donec quam felis, ultricies nec, pellentesque."
    },
    {
      header: {
        level1: 'master degree',
        level2: '// Feb 2011 - Jun 2014',
        level3: 'university name'
      },
      content: "Lorem ipsum dolor sit amet, consectetuer adipiscing elit. "
        + "Aenean commodo ligula eget dolor. Aenean massa. "
        + "Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. "
        + "Donec quam felis, ultricies nec, pellentesque."
    },
    {
      header: {
        level1: 'master degree',
        level2: '// Feb 2011 - Jun 2014',
        level3: 'university name'
      },
      content: "Lorem ipsum dolor sit amet, consectetuer adipiscing elit. "
        + "Aenean commodo ligula eget dolor. Aenean massa. "
        + "Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. "
        + "Donec quam felis, ultricies nec, pellentesque."
    },
    {
      header: {
        level1: 'master degree',
        level2: '// Feb 2011 - Jun 2014',
        level3: 'university name'
      },
      content: "Lorem ipsum dolor sit amet, consectetuer adipiscing elit. "
        + "Aenean commodo ligula eget dolor. Aenean massa. "
        + "Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. "
        + "Donec quam felis, ultricies nec, pellentesque."
    }]
  })
