doctype html
html
  head
    meta(charset="UTF-8")
    title Страница c резюме
    meta(keywords="")
    meta(description="")
    meta(name="viewport", content="initial-scale=1.0, width=device-width")
    link(rel="shortcut icon", href=require("./img/favicon.ico"))
  body
    include components/resume/resume.pug
