include ../resume-head/resume-head.pug

section.software
  +head('software', './components/skills/img/skills-icon')
  ul.software__list
    li.software__list-item
      div.software__soft photoshop
      div.software__progress
        div.software__progress_status
    li.software__list-item
      div.software__soft dreamweaver
      div.software__progress
        div.software__progress_status
    li.software__list-item
      div.software__soft illustrator
      div.software__progress
        div.software__progress_status
    li.software__list-item
      div.software__soft after effects
      div.software__progress
        div.software__progress_status
    li.software__list-item
      div.software__soft indesign
      div.software__progress
        div.software__progress_status
    li.software__list-item
      div.software__soft html&amp;css3
      div.software__progress
        div.software__progress_status
