div.form-select.js-form-select#id(tabindex="4")
  div.form-select__selected
    span.js-form-select__selected-value App Design
  ul.form-select__list.js-form-select__list
    li.form-select__list-item.js-form-select__list-item App Develoment
    li.form-select__list-item.js-form-select__list-item Web Develoment
    li.form-select__list-item.js-form-select__list-item Frontend
    li.form-select__list-item.js-form-select__list-item Backend
