div.resume
  div.resume__content-left
    include ../name/name.pug
    include ../profile/profile.pug
    include ../contact/contact.pug
    include ../skills/skills.pug
  div.resume__content-right
    include ../education/education.pug
    include ../experience/experience.pug
    include ../software/software.pug
