div.content
  section.content__quote
    div.content__quote-container
      div.content__phone
        div.content__greenline1
        div.content__greenline2
      include ../info/info.pug
  section.content__form
    div.content__form-container
      include ../form/form.pug
